*{
    margin: 0;
    padding: 0;
}

.header{
    height: 100vh;
    background-color: aliceblue;
    position: relative;
}

.heading{
    padding: 1.5rem 0;
    color: orangered;
    text-transform: uppercase;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid orangered;
    text-align: center;
    height: 80vh;
}

.display{
    display: flex;
}

.players{
    display: flex;
}

.player-1 , .player-2{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.player-1-card , .player-2-card{
    display: flex;
    flex-direction: column;
    margin: 2rem ;
    text-transform: uppercase;
}

.player-1-score , .player-2-score{
    margin: 1rem 0;
}

.player-1-score{
    color: purple;
}

.player-2-score{
    color: peru;
}

.player-1-name{
    color: palevioletred;
}

.player-2-name{
    color: orange;
}

input{
    outline: none;
    border: none;
    margin: 2rem 1rem;
}

.player-1-input , .player-2-input{
    width: 180px;
    height: 30px;
    padding-left: 2rem;
    text-transform: uppercase;
    color: orangered;
    background: rgb(214, 135, 172);
}

.player-1-input:focus , .player-2-input:focus{
    outline: 4px solid orangered;
}

.btn{
    width: 80px;
    height: 30px;
    background-color: burlywood;
    font-size: 1rem;
    text-transform: uppercase;
    margin: auto;
    margin-top: 2rem;
    border-radius: 2rem;
}

.btn-1:hover , .btn-2:hover{
    background-color: orangered;
    color: white;
    transform: translateY(-5px);
}

.output{
    margin-top: 3rem;
}

.start{
    margin: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: orangered;
}